
/*body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image:url(../../../assets/images/bg1.jpg);
    background-size: cover;
    background-position: right;
    border-radius: 10%;
}
.sign-up-form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: beige;
    padding:20px;
    margin: 8% auto 0;
    text-align: center;
}
.sign-up-form h1 {
    color: black;
    margin-bottom: 30px;
   
}
.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;
}
button {
    color: #ffff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
}
.sign-up-button{
    background-color: #1c8adb;
}
hr{
    margin-top: 20px;
    width: 80%;
}
.or{
    background: #ffff;
    width: 30px;
    margin: -19px auto 10px;
}
img{
    width: 20%;

}*/
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
