.banner{
    background-image: url(../../../../assets/images/horror.jpeg);
    height:1000px;
    background-position:center top;
    background-size:cover;
  
}
#header{
    width:100%;
    text-align:center;
    padding:10px;
    /*white-space:nowrap;*/
}
div.scroll{
    overflow-y: auto;
   overflow-x: hidden;
    width:100px;
    height: 1000px;
    
}
span{
    /*display:inline-block;*/
    margin:25px;
}
#header .slide{
    display: inline-block;
}
h1{
    color:green;
    text-align: center;
    margin:25px;
    font-weight: bold;
}
.btn{
    color:rgb(235, 217, 217);
}
h4{
    color:red;
    margin-top: 10px;

}
a{
    top:100px;
    bottom: 10px;
    filter:drop-shadow(10px 10px 10px red);
 }
