<h1>Horror Books</h1>
<div class="banner">
    <div id="header" class="scroll">
        <span class="slide">
            <a href="../assets/text/1984.txt"><img src="../assets/images/h1.jpg" alt="" width="150" height="200"></a>
            <h4>DRACULA</h4>
            <div class="btns" >
                <Button  id="btnh1" class="btn" appFavButton><i class="fas fa-heart"></i></Button>
            </div>
        </span>
        <span class="slide">
            <a href="../assets/text/Ghosts Of The Silent Hills.txt"><img src="../assets/images/h2.jpg" alt="" width="150" height="200"></a>  
            <h4>HORRORS OF THE NIGHT</h4>
            <div class="btns" >
                <Button  id="btnh1" class="btn" appFavButton><i class="fas fa-heart"></i></Button>
            </div>             
        </span>
        <span class="slide">
            <a href="../assets/text/Theilluminated.txt"><img src="../assets/images/h3.jpg" alt="" width="150" height="200"></a>
            <h4>THAT NIGHT</h4>
            <div class="btns" >
                <Button  id="btnh1" class="btn" appFavButton><i class="fas fa-heart"></i></Button>
            </div>
        </span>    
    </div>
</div>
    
