<h1 align="center">Genres</h1>
<div class="banner">
<table class="gen">
    <tr>
        <td>
            <div class="imgContainer">
                <div>
                    <img src="../assets/images/h1.jpg" alt="Literature" width="150" height="250">
                </div>
                <div class="imgButton">
                    <a routerLink="/literature"><button class="btn btn-info" type="button" style="width: 150px; height: 40px;">Literature</button></a>
                </div>
            </div>
        </td>
        

    
        
        <td>
            <div class="imgContainer">
                <div>
                    <img src="../assets/images/bgf.jpg" alt="Fiction" width="150" height="250">
                </div>
                <div class="imgButton">
                    <a routerLink="/fiction"><button class="btn btn-info" type="button" style="width: 150px; height: 40px;">All Genre</button></a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="imgContainer">
                <div>
                    <img src="../assets/images/h2.jpg" alt="horror" width="150" height="200">
                </div>
                <div class="imgButton">
                    <a routerLink="/horror"><button class="btn btn-info" type="button" style="width: 150px; height: 40px;">Horror</button></a>
                </div>
            </div>
        </td>

        <td>
            <div class="imgContainer">
                <div>
                    <img src="../assets/images/faity tail2.jpeg" alt="Fiction" width="150" height="200">
                </div>
                <div class="imgButton">
                    <a routerLink="/fiction"><button class="btn btn-info" type="button" style="width: 150px; height: 40px;">Fairy tail</button></a>
                </div>
            </div>
        </td>
    </tr>
</table>
</div>