
     <div class="banner">
        <div class="content">
            <h3>Amazing <span>books</span> on your way!</h3>
            <!---<p class="mb-5 mt-5">"A story can always break into pieces while it sits inside a book on a shelf; and, decades after we have read it even twenty times, it can open us up, by cut or caress, to a new truth." <br>– Andre Dubus<p>--->
            <a routerLink="menu" >Get Reading!<i class="bi bi-book mt-5"></i></a>
        </div>  
    </div>

<div class="container-fluid"> 
     <br>
     <h1 >LATEST COLLECTION</h1>
     <br>
     <div class="container">
            <div class="split right">
            <app-slider></app-slider>
            </div>
        <div class="split left"> 
                  
         <img src="../../../assets/Image/home.png ">
        </div>
    </div>
</div>

<!---<div class="image mt2 mb-5">
    <img src="../assets/images/dark needs.jpg" class="img-fluid" alt="" >; 
    <img src="../assets/images/novel.jpg"class="img-fluid"  alt="">;
    <img src="../assets/images/who.jpg" class="img-fluid" alt="">
    <img src="../assets/images/fairy tail.jpeg" class="img-fluid" alt="">
    <img src="../assets/images/faity tail2.jpeg" class="img-fluid"  alt="">
</div>--->

